<div class="container">
  <div class="form-group row justify-content-center">
    <div class="col-lg-10">
      <textarea type="text" rows="10" [(ngModel)]="text" class="form-control"
                placeholder="Пояснительная записка"></textarea>
    </div>
  </div>
  <div class="form-group row justify-content-center">
    <div class="col-lg-7">
      <ng-autocomplete [data]="studentMustsKnow" [searchKeyword]="'text'" [itemTemplate]="itemTemplate"
                       (selected)="setStudentMustKnow($event)" (inputChanged)="changeStudentMustKnow($event)"
                       (inputCleared)="clearStudentMustKnow()"
                       placeHolder="Студент должен знать"></ng-autocomplete>
    </div>
    <button class="btn btn-outline-primary" type="button" (click)="addStudentMustKnow()">Добавить</button>
  </div>
  <table class="table text-center">
    <thead class="thead-light">
    <tr>
      <th scope="col">Студент должен знать</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="table-light">
    <tr *ngFor="let studentMustKnow of addedStudentMustsKnow" class="border-dark">
      <td>{{studentMustKnow.text}}</td>
      <td>
        <button type="button" (click)="deleteStudentMustKnow(studentMustKnow)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="form-group row justify-content-center">
    <div class="col-lg-7">
      <ng-autocomplete [data]="studentMustsCan" [searchKeyword]="'text'" [itemTemplate]="itemTemplate"
                       (selected)="setStudentMustCan($event)" (inputChanged)="changeStudentMustCan($event)"
                       (inputCleared)="clearStudentMustCan()"
                       placeHolder="Студент должен уметь"></ng-autocomplete>
    </div>
    <button class="btn btn-outline-primary" type="button" (click)="addStudentMustCan()">Добавить</button>
  </div>
  <table class="table text-center">
    <thead class="thead-light">
    <tr>
      <th scope="col">Студент должен уметь</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="table-light">
    <tr *ngFor="let studentMustCan of addedStudentMustsCan" class="border-dark">
      <td>{{studentMustCan.text}}</td>
      <td>
        <button type="button" (click)="deleteStudentMustCan(studentMustCan)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>


  <div class="form-group row justify-content-center">
    <div class="col-lg-7">
      <ng-autocomplete [data]="studentMustsHave" [searchKeyword]="'text'" [itemTemplate]="itemTemplate"
                       (selected)="setStudentMustHave($event)" (inputChanged)="changeStudentMustHave($event)"
                       (inputCleared)="clearStudentMustHave()"
                       placeHolder="Студент должен владеть"></ng-autocomplete>
    </div>
    <button class="btn btn-outline-primary" type="button" (click)="addStudentMustHave()">Добавить</button>
  </div>
  <table class="table text-center">
    <thead class="thead-light">
    <tr>
      <th scope="col">Студент должен владеть</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="table-light">
    <tr *ngFor="let studentMustHave of addedStudentMustsHave" class="border-dark">
      <td>{{studentMustHave.text}}</td>
      <td>
        <button type="button" (click)="deleteStudentMustHave(studentMustHave)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row justify-content-center">
    <button type="button" class="btn btn-outline-primary" (click)="saveExplanatoryNote()">Продолжить</button>
  </div>
</div>

<ng-template #itemTemplate let-item>
  <a [innerHTML]="item.text"></a>
</ng-template>
