<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead">Это приложение разработано с целью уменьшить трату времени на разработку учебных планов.</p>
    <hr class="my-4">
    <p>Все что вам нужно - просто вписывать нужный вам текст в поля, выбирать значения и приложение само составит вам
      нужный DOC файл.</p>
    <p class="lead">
      <a class="btn btn-outline-dark btn-lg" routerLink="/create-plan" routerLinkActive="myActive">Создать план</a>
      <a class="btn btn-outline-dark btn-lg ml-2" href="#" role="button">Загрузить план</a>
    </p>
  </div>
</div>
