<footer class="page-footer font-small teal pt-4">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase font-weight-bold">Учебная программа</h5>
        <p>Созданный в рамках системы обучения документ, определяющий содержание и количество знаний, умений и навыков,
          предназначенных к обязательному усвоению по той или иной учебной дисциплине, распределение их по темам,
          разделам и периодам обучения.</p>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mb-md-0 mb-3">

        <h5 class="text-uppercase font-weight-bold">Разработчик</h5>
        <p>Web-приложения для разработки и хранения учебных планов кафедры создано студентом последнего курса
          Белорусского Национального Технического Университета Жолудевым Евгением Александровичем в качестве дипломного
          проекта.</p>

      </div>

    </div>

  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Only me
  </div>

</footer>
